
body {
  margin: 0;
  padding: 0;
  background: url(img/111.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'oswald', helvetica, arial, sans-serif;
  color: #ffffff
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  position: absolute;
  background: url(img/111.jpg) no-repeat center center fixed;
}

/*****Efecto h2***/
h2 {
  position: relative;
  font-size: 3rem;
  color: transparent;
  }
  h2::before {
      content: attr(data-text);
      position: absolute;
      color: white;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      border-right: 4px solid #ffffff;
      animation: animate 8s linear infinite;
      filter: drop-shadow(0 0 20px #f507cd)drop-shadow(0 0 50px #f507cd)
  }
  @keyframes animate {
      0%,10%,100%{
          width: 0;
      }
      70%,90%{
          width: 100%;
      }
  }
 
/* Estilos para el encabezado */
header {
  background-color: none;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

nav a:hover {
  color: #f507cd;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

/* Estilos para la sección de inicio */
section#inicio {
  background-image: url('img/fondo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#inicio p {
  font-size: 2rem;
  margin: 20px 0 0;
}

/* Estilos para la sección de sobre mí */
section#sobre-mi {
  background-color: none;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
}
section#sobre-mi h2 {
  font-size: 4rem;
  margin: 0;
}

section#sobre-mi p {
  font-size: 1.2rem;
  margin: 0;
}

section#sobre-mi img {
  width: 20%;
  height: auto;
  border-radius: 50%;
}
/* Estilos para la sección de proyectos */
section#proyectos {
  background-color: none;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; 
}
.proyecto {
  margin: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.proyecto img {
  max-width: 100%;
  border: none;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.proyecto img:hover {
  transform: scale(1.05);
  filter: blur(3px);
}

.proyecto p {
  font-size: 1rem;
  margin-top: 10px;
  background-color: rgba(253, 4, 199, 0.329);
  padding: 1rem;
  border-radius: 10px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease; 
  transform: translateY(-300px);
  max-width: 80%;
}

.proyecto:hover p {
  opacity: 1; 
}

.proyecto a {
  background-color:none;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Estilos para la sección de contacto */
section#contacto {
  background-color:none;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
  margin: 20px 0;
}

input, textarea {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  transition: background-color 0.5s ease-in-out;
}

input[type=submit]:hover {
  background-color: #f507cd;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.redes-sociales a {
  margin: 0 10px;
  font-size: 48px;
  color: #ffffff;
  transition: all 0.3s ease;
}

.redes-sociales a:hover {
  color: #f507cd;
  transform: scale(1.2);
}

/* Para pantallas menores de 768px */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    
  }
  h2 {
    font-size: 2rem;
  }
  section#inicio p {
    font-size: 1.5rem;
  }
  section#sobre-mi {
    padding: 50px;
  }
  section#sobre-mi h2 {
    font-size: 3rem;
  }
  section#sobre-mi img {
    width: 40%;
  }
  section#proyectos {
    padding: 20px;
  }
  .proyecto {
    width: 250px;
  }
  .proyecto p {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .proyecto img {
    max-width: 80%;
  }
  .proyecto img:hover {
    transform: scale(1.03);
  }
  .proyecto p {
    font-size: 0.9rem;
    max-width: 100%;
    filter: none;
    padding: 0.5rem;
    transform: translateY(0);
    border-radius: 0;
    opacity: 1;
    transition: none;
  }
  .proyecto:hover p {
    display: none;
  }
  .proyecto:active p {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(0);
    border-radius: 10px;
    padding: 1rem;
    filter: blur(3px);
    opacity: 1;
    background-color: rgba(253, 4, 199, 0.329);
    z-index: 1;
    transition: transform 0.5s ease;
  }
  section#contacto {
    padding: 20px;
  }
  label {
    font-size: 1rem;
  }
  input, textarea {
    font-size: 1rem;
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
 
  .box {
    position: absolute;
    width: 80px;
    height: 30px;
    background-image: url('img/111.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
  }
  
  .box:nth-child(n+5) {
    display: none;
  }
}

/* Para pantallas de más de 768px */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  h2 {
    font-size: 3rem;
  }
  section#inicio p {
    font-size: 2rem;
  }
  section#sobre-mi {
    padding: 100px;
  }
  section#sobre-mi h2 {
    font-size: 4rem;
  }
  section#sobre-mi img {
    width: 20%;
  }
  section#proyectos {
    padding: 50px;
  }
  .proyecto {
    width: 300px;
  }
  .proyecto p {
    font-size: 1rem;
    padding: 1rem;
  }
  section#contacto {
    padding: 50px;
  }
  label {
    font-size: 1.2rem;
  }
  input, textarea {
    font-size: 1.2rem;
    padding: 10px;
  }
}

/******Efecto glicht*************/

h1,
h2 {
  margin: 0;
}

a {
  color: #ccc;
}

section {
  padding: 20px;
}

.hero {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  /* Las cosas brillantes en ambientes oscuros generalmente emiten esa luz, emitiendo un brillo */
  filter: drop-shadow(0 1px 3px);
}

.demo {
  height: 100px;
  background: #fff;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #f507cd;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
  position: relative;
  padding: 200px 0;
  text-align: center;
}
/* Estilos para pantallas con un ancho máximo de 600px */
@media only screen and (max-width: 600px) {
  
  .hero {
    font-size: 2rem;
  }
  
  .layers::before,
  .layers::after {
    font-size: 2rem;
  }
}
    
